:root {
  --container-max-width: 1200px;
  --container-min-width: 320px;
  --gap-base: 35px;
  --gap-small: 10px;
  --font-size-min: 14px;
  --font-size-max: 16px;
  --color-primary: #b59f5b;
  --color-text: #0f0d0e;
  --color-text-light: #888888;
  --color-background: #f4f7f6;
  --color-white: #ffffff;
  --color-black: #000000;
  --border-radius: 0;
  --font-family-regular: "OpenSans-Regular", sans-serif;
  --font-family-bold: "OpenSans-Regular-Bold", sans-serif;
  --aside-width: 271px;
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: var(--font-family-regular), sans-serif;
	font-size: clamp(var(--font-size-min), 2vw, var(--font-size-max));
	color: var(--color-text);
  	-webkit-appearance: none;
  	-moz-appearance: none;
}

body::-webkit-inner-spin-button {
    display: none;
}

@font-face {
	font-family: "OpenSans-Regular";
	src: url("../fonts/OpenSans-Regular.woff") format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "OpenSans-Regular-Bold";
	src: url("../fonts/OpenSans-Bold.woff") format('woff');
	font-display: swap;
	font-weight: bold;
	font-style: normal;
}

.container {
		min-width: var(--container-min-width);
		max-width: 100%;
		margin: 0 auto;
}

/*----------------header--------------------------------*/
.header {
	position: relative;
	min-height: 449px;
	background-image: url(../img/banner-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-color: var(--color-black);
}

.header::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 1;
	background: rgba(0, 0, 0, 0.6);
}

.header-page {
	width: 100%;
	max-width: var(--container-max-width);
	margin: 0 auto;
	padding: 0 var(--gap-small);
}

.content_logo {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding-top: 28px;
}

.header-logo {
	position: relative;
	z-index: 2;
	padding-left: 12px;
}

.header-logo-image {
	display: flex;
	/* width: 180px; */
	width: 15vw;
    max-width: 180px;
    min-width: 137px;
}

/* --------burger-------------------- */

.burger-checkbox, .burger-label, .burger-btn {
  display: none;
}

/* ------------------------------------------ */
 .header-content {
	margin-left: auto;
	margin-right: auto;	
	position: relative;
	z-index: 2;
	display: flex;
	justify-content: space-between;
} 

.nav-list {
	z-index: 2;
	display: flex;
	margin: 2px 0 0 0;
	list-style-type: none;
	gap: var(--gap-base);
	flex-wrap: wrap;
}

.nav-item {
	font-family: var(--font-family-regular), sans-serif;
	font-size: 13px;
	color: var(--color-white);
	text-transform: uppercase;
	text-align: center;
}
	
.nav-item-link {
	color: inherit;
	text-decoration: none;
}

.nav-item-link:hover {
	color: inherit;
	text-decoration: underline;
}

.header-title {
	position: relative;
	z-index: 2;
    display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	max-width: 699px;
	min-height: 361px;
	text-align: center;
	margin: 0 auto;
	font-family: var(--font-family-bold), sans-serif;
	font-size: clamp(18px, 4vw, 22px);
	text-transform: uppercase;
  	color: var(--color-white);
}
	
.header-text {
	margin: auto;
	padding: 0;
	letter-spacing: 0.6px;
	line-height: 1.7;
}


/* --------------popup----------------------------------- */
.feedback-popup {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 4;
	box-sizing: border-box;
	background-color: rgba(0, 0, 0, 0.4);
}

.feedback-popup::before {
	position: absolute;
 	top: 0;
  	left: 0;
 	width: 100%;
 	height: 100%;
  	background: rgba(0, 0, 0, 0.5); 
  	z-index: -1;
}

.feedback-form {
	position: relative;
	display: flex;
	flex-direction: column;
	max-width: 390px;
	width: 90%;
	/* height: 589px; */
	top: 234px;
	left: 7px;
	padding: 32px 33px;
	z-index: 3;
	box-sizing: border-box;
	background-color: #ffffff;
}

.feedback-title {
	text-align: center;
	font-size: 20px;
	text-transform: uppercase;
	color: #0f0d0e;
	font-weight: 700;
	font-family: var(--font-family-bold), sans-serif;
}

.feedback-title::after {
	display: block;
	content: '';
	width: 66px;
	margin: 8px auto 0;
	border-bottom: 3px solid var(--color-primary);
	opacity: 40%;
}

.close-popup {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	color: #ffffff;
	position: absolute;
	right: -2px;
	top: -45px;
	z-index: 4;
	font-size: 39px;
	cursor: pointer;
}

.feedback-question-one,
 .feedback-question-two,
 .feedback-question-four,
 .connection-radio,
 .field-common {
	font-size: 13px;
	font-family: var(--font-family-regular), sans-serif;
}

.feedback-question-one {
	padding: 8px 0 8px 0;
}

.select-list, .field-common {
	font-size: 13px;
	font-family: var(--font-family-regular), sans-serif;
	opacity: 0.6;
}

.select-list {
	width: 100%;
	height: 49px;
	padding-left: 13px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-image: url(../svg/form-arrows.svg);
	background-repeat: no-repeat;
	background-size: 9px 15px;
	background-position: right 14px center;
}

.feedback-question-two {
	padding: 29px 0 7px 0;
}

.radio-group {
	padding-bottom: 29px;
	display: flex;
	gap: 16px;
}

.radio-group label {
	display: inline-block;
	position: relative;
	padding-left: 22px;
	font-family: var(--font-family-regular), sans-serif;
	font-size: 13px;
}

.radio-group label::before {
	content: '';
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
  	width: 18px;
  	height: 18px;
  	background-image: url(../svg/form-empty-circle.svg);
  	background-repeat: no-repeat;
  	background-size: contain;
  	background-position: center;
}

.radio-group input:checked + label::before {
  background-image: url(../svg/form-circle.svg);
}

.radio-yes,
.radio-no {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.radio-yes {
	background-image: url(../svg/form-circle.svg);
	background-repeat: no-repeat;
	background-size: 15px 15px;
}

.feedback-question-four {
	padding-bottom: 6px;
	padding-right: 15px;
}

.field-common {
	height: 130px;
	resize: vertical;
	padding: 18px;
	margin-bottom: 30px;
}

.button-send {
	background-color: #b59f5b;
	color: #eeeeee;
	max-width: 330px;
	width: 100%;
	height: 48px;
	font-size: 14px;
	text-transform: uppercase;
	font-family: var(--font-family-bold), sans-serif;
	border: none;
}

.button-send:hover {
	background-color: #323232;
}

/*---------------------trends--------------------------------------------------*/
.trends-base-title {
	padding: 58px 0 28px 12px;
	text-align: center;
	font-size: 20px;
	text-transform: uppercase;
	color: #0f0d0e;
	font-weight: 700;
	font-family: var(--font-family-bold), sans-serif;
}

.trends-base-title::after {
	display: block;
	content: '';
	width: 66px;
	margin: 8px auto 0;
	border-bottom: 3px solid var(--color-primary);
	opacity: 40%;
}

.trends {
	display: flex;
	justify-content: center;
	width: 100%;
	max-width: 100vw;
	margin: 0;
	padding: 0;
	gap: 4px;
	position: relative;
}

.article-trend {
	position: relative;
	top: 0;
	right: 0;
	flex: 1;
	min-height: 320px;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #999999;
	z-index: 1;
	padding: 20px 17px 18px 24px;
	display: flex;
	align-items: flex-end;
}

.article-trend::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	z-index: 2;
}

.trend-1 {
	background-image: url(../img/trend1.jpg);
}

.trend-2 {
	background-image: url(../img/trend2.jpg);
}

.trend-3 {
	background-image: url(../img/trend3.jpg);
}

.trend-4 {
	background-image: url(../img/trend4.jpg);
}

.trend-border {
  padding: 10px 36px 9px 34px;
  border: 2px solid #b59f5b;
  line-height: 1.5;
  z-index: 3;
}

.category-list-trend {
	display: flex;
	flex-wrap: wrap;
	list-style-type: none;
	gap: 10px;
	margin-bottom: 0;
	padding-left: 0;
}

.category-link-trend {
	text-decoration: none;
	text-transform: uppercase;
	color: var(--color-primary);
	font-size: 14px;
	font-family: var(--font-family-bold), sans-serif;
}

.category-link-trend:hover {
	text-decoration: underline;
}

.trend-title {
	line-height: 25.5px;
}

.trend-link {
	text-decoration: none;
	font-size: clamp(17px, 1.5vw, 20px);/*20px;*/
	font-weight: 700;
	font-family: var(--font-family-bold), sans-serif;
	text-transform: uppercase;
	color: #ffffff;
}

.trend-text {
	margin-top: 0;
}

/*---------------------main--------------------------------------------------*/
.container-main-aside {
	display: flex;
	justify-content: center;
	width: 100%;
	max-width: var(--container-max-width);
	margin: 62px auto 0 auto;
	gap: var(--gap-base);
	padding-left: 21px;
	padding-right: 9px;
}

.main {
	flex: 1;
	width: 100%;
}

.aside-sidebar {
	width: var(--aside-width);
	flex-shrink: 0;
}


.article {
	display: flex;
	gap: 30px;
	margin-bottom: 56px;
	align-items: flex-start;
}

.article:last-child {
	margin-bottom: 0;
}

.article-image {
	min-width: 200px;
	flex-shrink: 0;
}

.article-image-link {
	object-position: 0 0;
	width: 100%;
	max-width: 380px;
	object-fit: cover;
	background: var(--color-background);
}

.article-content {
	flex: 1;
}

.article-category {
	line-height: 1;
}

.category-list {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	margin: 0;
	padding: 0;
	list-style-type: none;
	gap: 20px;
}

.category-link {
	text-decoration: none;
	text-transform: uppercase;
	color: var(--color-primary);
	font-size: 14px;
	font-family: var(--font-family-bold),sans-serif;
}

.category-link:hover {
	text-decoration: underline;
}

.article-title {
	line-height: 1;
}

.article-header {
	margin: 5px 72px 29px 0;
}

.article-title-link {
	text-decoration: none;
	text-transform: uppercase;
	color: var(--color-text);
	font-size: clamp(16px, 2vw, 20px); /*20px;*/
	font-family: var(--font-family-bold),sans-serif;
}

.article-title-link:hover {
	color: var(--color-primary);
}

.article-date-author {
	display: flex;
	gap: 4px;
	padding-bottom: 28px;
}

.article-date {
	min-width: 88px;
	color: var(--color-text-light);
	font-size: 12px;
	font-family: var(--font-family-regular), sans-serif;
}

.article-author {
	color: var(--color-black);
	font-size: 12px;
    font-family: var(--font-family-bold), sans-serif;
}

.article-desc {
	width: 100%;
    color: var(--color-text);
	font-size: 15px;
	font-family: var(--font-family-regular), sans-serif;
	line-height: 1.5;
	padding: 3px 83px 0 0;
}

/*----------------------------aside--------------------------*/
.posts-heading {
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 2px;
	padding-bottom: 22px;
	text-align: center;
	text-transform: uppercase;
	color: var(--color-text);
	font-size: 14px;
	font-family: var(--font-family-bold), sans-serif;
	line-height: 1;
}

.posts-heading::after {
	display: block;
	content: '';
	width: 66px;
	margin: 12px auto 0;
	border-bottom: 3px solid var(--color-primary);
	opacity: 40%;
}

.aside-post {
	width: 100%;
	min-height: 70px;
	box-sizing: border-box;
	margin-bottom: 13px;
	padding-right: 2px;
}

.post-content {
	display: flex;
	box-sizing: border-box;
}

.post-pic {
	position: relative;
	object-position: 0 0;
	width: 70px;
	height: 75px;
	object-fit: cover;
	background: var(--color-background);
}

.post-data {
	margin-left: 15.5px;
	line-height: 0.8;
}

.aside-date {
	color: var(--color-black);
	font-size: 12px;
	font-family: var(--font-family-regular), sans-serif;
	opacity: 54%;
}

.post-title {
	margin-top: 11px;
	color: var(--color-black);
	font-size: 14px;
	line-height: 1.2;
	font-family: var(--font-family-bold), sans-serif;
	text-transform: uppercase;
	text-indent: 2px;
}

.post-title:hover {
	color: var(--color-primary);
}

.aside-title-link {
	text-decoration: none;
	color: inherit;
}

/*-------------------------------search-buttom----------------------*/
.aside-search {
	width: 100%;
	margin: 58px auto 52px auto;
}

.search-container {
  display: flex;
  position: relative;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
} 

.search-field {
	width: 100%;
	height: 48px;
	padding: 0 60px 0 17px;
	background: var(--color-background);
	border: none;
	font-size: 13px;
	font-family: var(--font-family-regular), sans-serif;
}

.search-field::placeholder {
	color: var(--color-black);
	opacity: 54%;
}

.search-field:hover {
	box-shadow: 0 1px 0 var(--color-primary);
}

.search-field:focus {
	outline: none;
}

.search-button {
	position: absolute;
	right: 0;
	top: 0;
	width: 48px;
	height: 48px;
	background-color: var(--color-primary);
	background-image: url(../svg/search.svg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 18px;
	border: none;
	cursor: pointer;
}

.search-button:hover {
	background-color: #323232;
}

/*-----------------РАССЫЛКИ----------------------------*/
.aside-subscription {
	width: 100%;
	height: auto;
}

.aside-subscription-heading {
	margin-top: 0;
	text-align: center;
	margin-bottom: 0;
	font-size: 14px;
	line-height: 1.8;
	text-transform: uppercase;
	color: var(--color-text);
	font-family: var(--font-family-bold), sans-serif;
}

.aside-subscription-heading::after {
	display: block;
	content: '';
	width: 66px;
	margin: 5px auto;
	border-bottom: 3px solid var(--color-primary);
	opacity: 0.40;
}

.subscription-email {
	box-sizing: border-box;
	width: 100%;
	height: 48px;
	margin: 20px 0 0 0;
	padding: 12px 17px 15px 17px;
 	font-size: 13px;
 	font-family: var(--font-family-regular), sans-serif;
	border: none;
	outline: none;
	background-color: var(--color-background);
}

.subscription-email:focus {
	background-color: var(--color-background);
	border: 1px solid var(--color-primary);
}

.subscription-button {
	width: 100%;
	height: 48px;
	margin-top: 17px;
	border: none;
	text-transform: uppercase;
	color: var(--color-white);
	font-family: var(--font-family-bold), sans-serif;
	font-size: 14px;
	line-height: 2.8; /*40px*/
	background-color: var(--color-primary);
}

.subscription-button:hover {
	background-color: #323232;
}

/*----------tags-----------------------------*/
.aside-tags {
	width: 100%;
	height: auto;
	padding-top: 54px;
}

.aside-tags-heading {
	margin-top: 0;
	text-align: center;
	font-size: 14px;
	line-height: 1.9;
	text-transform: uppercase;
	color: var(--color-text);
	font-family: var(--font-family-bold), sans-serif;
}

.aside-tags-heading::after {
	display: block;
	content: '';
	width: 66px;
	margin: 4px auto 0;
	border-bottom: 3px solid var(--color-primary);
	opacity: 0.40;
}

.tags-list {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	margin-top: 24px;
	margin-left: 0;
	padding: 0;
	gap: 6px;
	list-style-type: none;
	text-transform: uppercase;
	color: var(--color-text);
	font-family: var(--font-family-bold), sans-serif;
	font-size: 12px;
}

.tag-item-link {
	display: flex;
	padding: 4px 13px;
	border: 3px solid #eeeeee;
	background-color: rgba(243,243,241,0);
	text-decoration: none;
	color: inherit;
	line-height: 1.4;
}

.tag-item-link:hover {
	border: 3px solid var(--color-primary);
}

/*-----------topics-------------------*/
.aside-topics {
	width: 100%;
	height: auto;
	padding-top: 38px;
}

.aside-topics-heading {
	margin-top: 0;
	text-align: center;
	font-size: 14px;
	line-height: 1.99;
	text-transform: uppercase;
	color: var(--color-text);
	font-family: var(--font-family-bold), sans-serif;
}

.aside-topics-heading::after {
	display: block;
	content: '';
	width: 66px;
	margin: 5px auto 0;
	border-bottom: 3px solid var(--color-primary);
	opacity: 0.40;
}

.topics-list {
	padding-left: 0;
	list-style-type: none;
	color: var(--color-black);
	font-size: 14px;
	font-family: var(--font-family-bold), sans-serif;
	line-height: 3.2;
}

.topic-item::after {
	content: '';
	display: block;
	width: 100%;
	height: 1px;
	background-color: #ededed;
	margin: auto 0;
}

.topic-item-link {
	text-decoration: none;
	color: inherit;
}

.topic-item-link:hover {
	color: var(--color-primary);
}

.topic-count {
	font-size: 12px;
	line-height: 36px;
	color: var(--color-primary);
	font-family: var(--font-family-bold), sans-serif;
}


/* ------------products-------------------------------- */
.products-base-title {
	max-width: 100%;
	padding: 59px 0 28px 0;
	text-align: center;
	font-size: 20px;
	line-height: 22px;
	text-transform: uppercase;
	color: #0f0d0e;
	font-weight: 700;
	font-family: var(--font-family-bold), sans-serif;
	text-indent: 8px;
}

.products-base-title::after {
	display: block;
	content: '';
	width: 66px;
	margin: 10px auto 0;
	border-bottom: 3px solid var(--color-primary);
	opacity: 40%;
}

.products {
	display: flex;
	align-items: flex-start;
	max-width: var(--container-max-width);
	margin: 0 auto 36px auto;
	gap: 35px;
}

.product {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 32px;
}

.product-image {
	max-width: 300px;
	max-height: 205px;
	object-fit: cover;
}

.product-border {
	display: flex;
	flex-direction: column;
	max-width: 300px;
	min-height: 226px;
	outline: 2px solid #b59f5b;
	outline-offset: 18px;
	position: relative;
	top: -15px;
	left: 5px;
}

.product-title {
	margin: 34px 0 0 0;
	font-size: 20px;
	font-family: var(--font-family-bold), sans-serif;
}

.product-link-title {
	text-decoration: none;
	color: #000000;
	text-transform: uppercase;
}

.product-text {
	margin: 3px 0 0 0;
	font-size: 15px;
	font-family: var(--font-family-regular), sans-serif;
	line-height: 1.5;
}

.product-text a {
	color: #b59f5b;
	text-decoration: none;
}

.price-link {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 20px 0 8px 0;
}

.price {
	color: #0f0d0e;
	font-family: var(--font-family-bold), sans-serif;
	line-height: 0.9;
}

.big-price {
	margin: 0;
	text-decoration: line-through;
	font-size: 16px;
}

.small-price {
	margin: 0;
	font-family: var(--font-family-bold), sans-serif;
	font-size: 20px;
}

.shop-link {
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	color: #eeeeee;
	text-transform: uppercase;
	width: 140px;
	height: 48px;
	background-color: #b59f5b;
	font-family: var(--font-family-bold), sans-serif;
	font-size: 14px;
}

/*-----------footer------------------*/

.footer-social {
	max-width: 100%;
	margin: 0 auto;
}

.footer-icons-container {
	width: 100%;
	height: auto;
	margin-bottom: 69px;
	padding: 34px 0 32px 13px;
	background-color: var(--color-background);
}

.icons-list {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	padding: 0;
	gap: 27px;
	list-style-type: none;
}

.icon-item-dribbble {
	display: block;
	width: 20px;
	height: 20px;
	background-image: url("../svg/001-dribbble.svg");
	background-repeat: no-repeat;
	background-position: center;
}

.icon-item-pinterest {
	display: block;
	width: 19px;
	height: 20px;
	background-image: url("../svg/002-pinterest.svg");
	background-repeat: no-repeat;
	background-position: center;
}

.icon-item-tumblr {
	display: block;
	width: 20px;
	height: 20px;
	background-image: url("../svg/003-tumblr.svg");
	background-repeat: no-repeat;
	background-position: center;
}

.footer-copyrights {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	padding: 0 0 30px 20px;
	font-size: 12px;
	color: #999999;
	font-family: var(--font-family-bold), sans-serif;
	
}

.footer-copyright-link {
	color: inherit;
	text-decoration: none;
}


/* Медиазапросы для адаптации */

/* -----------------Планшетная версия 1200-640px------------- */
@media (max-width: 1200px) {
/* ----------header / menu---------------- */
	.header {
		min-height: 390px;
	}

	.header-logo-image {
	margin: 16px 0 0 15px;
	min-width: 20vw;
	}

	.dropdown {
		color: #eeeeee;
	}

	.burger-label {
        display: block;
        cursor: pointer;
        position: absolute;
        top: 43px;
        right: 17px;
        z-index: 3;
	}

	.burger-btn {
        display: block;
		color: #eeeeee;
    }

	.header-content {
        display: none;
        position: absolute;
        top: 35px;
        right: 63px;
        width: calc(100vw - 24vw);
		max-width: 62vw;
		flex-wrap: wrap;
		justify-content: flex-end;
		align-items: center;
		z-index: 2;
        margin: 0;
		line-height: 0;
    }

	.nav-list {
		margin: 0;
		padding: 21px 13px 0 0;
    }

	.nav-item {
        text-align: left;
    }

	.nav-item-link {
        color: #ffffff;
        font-size: 13px;
        display: block;
        padding: 5px 0;
    }

	.header-title {
		max-width: 630px;
		min-height: 290px;
		font-size: 19px;
		line-height: 0;
	}

	.header-text {
		line-height: 1.4;
		letter-spacing: 1px;
	}

	    /* чекбокс активация */
    .burger-checkbox:checked ~ .dropdown .header-content {
        display: flex;
		flex-direction: row;
    }
	
	.content_logo {
        position: relative;
    }

/* ----------------popup 1200-640px-------------- */
	.feedback-form {
	  top: 236px;
	  left: 0;
    }

	.close-popup {
		font-size: 59px;
		top: -65px;
	}	

	.feedback-title {
		font-size: 18px;
	}

	.feedback-question-one {
		padding-top: 13px;
	}

	.feedback-question-two {
		margin-top: 1px;
		padding-bottom: 14px;
	}

	.radio-group {
		gap: 37px;
	}

	.radio-group label {
		padding-left: 28px;
	}

	.radio-group label::before {
		width: 23px;
		height: 23px;
	}

/* ----------------trends 1200-640px-------------- */
	.trends-base-title {
		font-size: 18px;
		margin: 0 auto;
		padding: 46px 0 20px 0;
	}	

	.trends {
		flex-wrap: wrap;
		width: 100%;
	}

	.article-trend {
		width: calc(50% - 2px);
		min-height: 247px;
		flex: initial;
		padding: 0px 21px 14px 21px;
	}

	.trend-border {
		padding: 0px 55px 14px 31px;
	}

	.article-category-trend {
		margin: 0;
		padding-left: 0;
		padding-top: 9px;
	}

	.category-list-trend {
		gap: 18px;
		margin-bottom: 3px;
	}

	.trend-title {
		line-height: 1;
	}

/* ----------------posts 1200-640px-------------- */
	.container-main-aside {
		margin-top: 50px;
		padding-left: 34px;
		padding-right: 35px;
	}

	.article {
		flex-direction: column;
		gap: 2px;
		margin-bottom: 40px;
	}

	.article::after {
		display: block;
		content: '';
		width: 100%;
		border-bottom: 3px solid #eeeeee;
		opacity: 40%;
		padding-bottom: 7px;
	}

	.article-image {
		width: 100%;
	}

	.article-image-link {
		max-width: 100%; /*392 */
	}

	.article-category {
		padding-top: 5px;
	}

	.article-title {
		line-height: 1;
		letter-spacing: 0.7px;
		margin-top: 7px;
	}

	.article-header {
		margin: 5px 0 31px 0;
	}

	.article-date-author {
		padding-bottom: 10px;
	}

	.article-desc {
		padding-right: 8px;
	}

	.article-desc-text {
		margin-bottom: 8px;
	}

/* ----------------products 1200-640px-------------- */
	.products-base-title {
		font-size: 18px;
		padding-top: 42px;
	}

	.products {
		flex-wrap: wrap;
		gap: 0;
		padding-left: 16px;
		margin-bottom: 0;
    }

	.product {
		width: calc(50% - 1.5%);
		margin-bottom: 32px;
	}

	.product-image {
		width: 100%;
		max-width: 298px;
		min-height: 227px;
	}

	.product-border {
		outline-offset: 15px;
	}

	.product-title {
		font-size: 17px;
		margin-top: 34px;
	}

	.footer-social {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.footer-icons-container {
		margin: 0 25px 44px 25px;
	}
}


/* -------------Мобильная версия 640px ------------------- */
@media (max-width: 640px) {
  .header {
	min-height: 640px;
   }

  .header-page {
    display: flex;
	padding-top: 182px;
	padding-bottom: 37px;
   }

  .content_logo {
    display: flex;
    justify-content: center;
 	position: static;
   }

  .header-logo {
    position: static;
    z-index: 3;
    padding: 0;
   }

  .header-logo-image {
    width: 80vw;
    max-width: 266px;
    min-width: 150px;
	margin-left: 0;
  }

  .nav-list {i
	padding: 0 7px 0 0;
	flex-wrap: nowrap;
	gap: 36px;
	padding: 0 8px 0 0;
  }

  .nav-item:nth-child(1),
  .nav-item:nth-child(2) {
	display: none;
  }

  .header-title {
    align-items: flex-start;
    font-size: 13px; 
    max-width: 90%;
   }

  .header-text {
    margin: 0;
    padding: 0;
    letter-spacing: 0.5px;
    line-height: 1.3;
  }

  .burger-label {
	top: 22px;
	right: 10px;
  }

/* -----------popup - mobile 640px--------- */
  .feedback-form {
	top: 40px;
  }

  .feedback-title {
	font-size: 16px;
	margin-top: 0;
  }


/* -----------trends - mobile 640px--------- */
  .trends-base-title {
	font-size: 16px;
	padding: 38px 0 24px 0;
  }

  .trends {
	gap: 2px;
  }

  .article-trend {
	width: 100%;
	min-height: 232px;
	padding: 10px;
  }

  .trend-border {
    padding: 10px;
  }

  .category-list-trend {
	margin-bottom: 7px;
  }

  .trend-title {
	font-size: 12px;
	line-height: 1.1;
  }

/* -----------main-aside - mobile 640px--------- */
  .container-main-aside {
	flex-direction: column;
	padding: 0 16px;
	margin-top: 43px;
	gap: 55px;
  }

  .article {
	gap: 7px;
  }

  .article::after {
	padding-bottom: 0;
  }

  .article-image-link {
	width: 100%;
  }

  .article-category {
	padding-top: 3px;
  }

  .article-title {
	letter-spacing: 0;
	margin-top: 8px;
  }

  .article-header {
	margin-bottom: 17px;
	margin-right: 10px;
  }

  .article-date-author {
	padding-bottom: 0;
  }

  .article-desc {
	padding-right: 5px;
	padding-top: 0;
	line-height: 1.4;
	font-size: 14px;
  }

  .aside-sidebar {
    width: 100%;
	max-width: none;
    margin: 0 auto;
  }

  .aside-post {
	margin-bottom: 15px;
  }

  .posts-heading {
	font-size: 16px;
	padding-bottom: 26px;
	line-height: 0;
  }

   .posts-heading::after {
	margin-top: 20px;
  }

/* -----------aside-search - mobile 640px--------- */
  .aside-search {
	margin: 66px auto 37px auto;
  }

  .aside-subscription-heading {
	font-size: 16px;
  }

  /* -----------aside-tags - mobile 640px--------- */
  .aside-tags {
	padding-top: 35px;
  }

  .aside-tags-heading {
	font-size: 16px;
  }
  
  .tag-item-link {
	padding: 4px 12px;
  }

   /* -----------aside-theams - mobile 640px--------- */
  .aside-topics {
	padding-top: 19px;
  }

  .aside-topics-heading {
	font-size: 16px;
	margin-bottom: 14px;
  }

/* -----------product - mobile 640px--------- */
  .products-base-title {
    padding: 16px 0 28px 0;
	margin-top: 10px;
    font-size: 16px;
	text-indent: 0;
  }

  .products {
	padding-left: 0;
  }

  .product {
	width: 100%;
  }


  .product-image {
	min-height: 286px;
	width: 100%;
  }

  .product-border {
	/* max-width: 285px; */
	min-height: 180px;
	width: 100%;
  }

  .product-title {
	font-size: 16px;
	margin-top: 35px;
  }

  .product-text {
	margin: 0;
  }

  .price-link {
	margin: 23px 14px 10px 0;
  }

  .price {
	line-height: 1;
  }

/* -----------footer - mobile 640px--------- */
  .footer-social {
	min-height: 95px;
	margin: 16px auto;
	padding: 0 16px;
  }  

 .footer-icons-container { 
	padding: 17px 0 20px 13px;
	margin: 0 0 44px 0;
  } 

  .footer-copyrights {
	padding-top: 0;
  }
}